
<label class="w3-button">Load an SQLite database file: <input type='file' id='dbfile' (change)="loadDB($event)"></label>
<button w3-button (click)="testBridgeDB()">testBridgeDB</button>

<textarea class="w3-input w3-border" style="resize:none" rows="12"  [(ngModel)]="sqlText"></textarea>


<button w3-button (click)="executeSQLfromTextarea()">execute SQL</button>

<table class="w3-table" *ngIf="sqlResult.length >0">
  <tr>
    <th *ngFor="let item of objectKeys(sqlResult[0])">{{item}}</th>
  </tr>
  <tr *ngFor="let row of sqlResult | slice:0:20">
    <td *ngFor="let item of objectKeys(row)">{{row[item]}}</td>
  </tr>
</table>
